html {
  background-color: $body-background-color;
  font-size: $main-size;
  overflow-x: hidden;
  text-size-adjust: 100%;
  overflow-y: scroll;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

h1,
h2,
header{
  font-family: $header-family;
  font-weight: $weight-bold;  //на случай недоступности google fonts
}

a{
  // к сожалению мы не можем использовать тут наследование от плейсхолдер
  // так как они поднимаются вверх
  // это может привести к нежелательным последствиям
  // но во всех классах будет использоваться наследование
  @include control;
  text-decoration: none;
  strong{
    color: currentColor;
  }

}

input,
select,
textarea,
button{
  // аналогичная ситуация
  @include form_item;
}

body
{
  font-family: $body-family;
  color: $body-color;
  font-size: $body-size;
  font-weight: $body-weight; //на случай недоступности google fonts
  line-height: $body-line-height;
}

img{
  height: auto;
  max-width: 100%;
}

p{
  margin-bottom: $main-margin;
}

input{
  &[type=file]{
    display: none;
  }
}