@mixin transition{
  transition: all .5s ease-in-out;
}

%transition{
  @include transition;
}

@mixin control($color: $link, $hover-color: $link-hover){
  color: $color;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  @extend %transition;
  &:hover{
    color: $hover-color;
  }
  &:active,
  &:focus{
    color: $color;
    opacity: $opacity;
  }
}

%control{
  @include control;
}

@mixin form_item{
  font-family: $form-family;
  font-size: 1rem;
  line-height: 1.25rem;
}

%form_item{
  @include form_item;
}

@mixin input{
  outline: none;
  background: $white;
  border: 1px solid rgba($border, .2);
  border-radius: 4px;
  padding: $main-padding;
  margin-bottom: $gap;
  max-width: 100%;
  width: 100%;
  @extend %transition;
  &::placeholder{
    color: $black;
    opacity: .3;
  }
  &:focus,
  &:active{
    border-color: $link;
  }
  //&:invalid:not(:placeholder-shown) {
  //  border-color: $red;
  //}
}

%input{
  @include input;
}

@mixin button($name, $color-button) {
  .btn-#{$name} {
    font-family: $header-family;
    font-weight: $weight-bold;  //на случай недоступности google fonts
    font-size: 1.125rem;
    line-height: 1.5rem;
    padding: $main-padding * 2;
    border: none;
    background-color: $color-button;
    color: $white;

    &:hover{
      color: $white;
      background: $black;
    }
    &:active,
    &:focus{
      color: $white;
      background: $color-button;
    }
  }
}

@mixin desktop{
  @media screen and (min-width: weight('desktop')){
    @content
  }
}

@mixin tablet{
  @media screen and (min-width: weight('tablet')){
    @content
  }
}

@mixin mobile{
  @media screen and (min-width: weight('mobile')){
    @content
  }
}


@mixin social($name, $background, $font-size) {
  .social-#{$name} {
    @extend %control;
    font-size: $font-size;
    background-color: $background;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: $white;

    &:hover{
      color: $white;
      background-color: mix($black, $background, 20%);
    }
    &:active,
    &:focus{
      background: $background;
      color: $white;
    }
  }
}

@mixin slide($id){
  input[data-name=carousel-#{$id}]:checked ~ .carousel__info li:nth-child(#{$id}) .carousel__bullet:before{
    background-color: transparent;
  }
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin image($size) {
  @include size($size, $size);
}