@mixin control{
  color: $link;
  cursor: pointer;
  transition: all .5s;
  &:hover{
    color: $link-hover;
  }
  &:active,
  &:focus{
    color: $link;
    opacity: .7;
  }
}

@mixin form_item{
  font-family: $form-family;
  font-size: 1rem;
  line-height: 1.25rem;
}

@mixin button($name, $color-button) {
  .btn-#{$name} {
    @extend .btn;
    font-family: $header-family;
    font-weight: $weight-bold;  //на случай недоступности google fonts
    font-size: 1.125rem;
    line-height: 1.5rem;
    border: none;
    background-color: $color-button;
    color: $white;

    &:hover{
      color: $white;
      background: $black;
    }
    &:active,
    &:focus{
      color: $white;
      background: $color-button;
    }
  }
}
