@mixin control{
  color: $link;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  transition: all .5s;
  &:hover{
    color: $link-hover;
  }
  &:active,
  &:focus{
    color: $link;
    opacity: .7;
  }
}

%control{
  @include control;
}

@mixin form_item{
  font-family: $form-family;
  font-size: 1rem;
  line-height: 1.25rem;
}

%form_item{
  @include form_item;
}

@mixin input{
  outline: none;
  background: $white;
  border: 1px solid rgba($border, .2);
  border-radius: 4px;
  padding: $main-padding;
  margin-bottom: $gap;
  max-width: 100%;
  width: 100%;
  transition: all .5s;
  &::placeholder{
    color: $black;
    opacity: .3;
  }
  &:focus,
  &:active{
    border-color: $link;
  }
  //&:invalid:not(:placeholder-shown) {
  //  border-color: $red;
  //}
}

%input{
  @include input;
}

@mixin button($name, $color-button) {
  .btn-#{$name} {
    @extend .btn;
    font-family: $header-family;
    font-weight: $weight-bold;  //на случай недоступности google fonts
    font-size: 1.125rem;
    line-height: 1.5rem;
    padding: $main-padding * 2;
    border: none;
    background-color: $color-button;
    color: $white;

    &:hover{
      color: $white;
      background: $black;
    }
    &:active,
    &:focus{
      color: $white;
      background: $color-button;
    }
  }
}

@mixin desktop{
  @media screen and (min-width: weight('desktop')){
    @content
  }
}

@mixin tablet{
  @media screen and (min-width: weight('tablet')){
    @content
  }
}

@mixin mobile{
  @media screen and (min-width: weight('mobile')){
    @content
  }
}