/* variables */
$family-primary: 'PT Mono', sans-serif;
$family-secondary: 'PT Sans', sans-serif;
$family-extra: 'Montserrat', sans-serif;
$weight-normal: 400;
$weight-bold: 700;

// Colors
$white: #FFF;
$gray-1: #EFF1F2;
$gray-2: #C5CDD7;
$gray-3: #25282A;
$black: #000000;
$blue-1: #0059D9;
$blue-2: #1F406F;
$lightblue: #71ABFF;
$red: #FF0000;


$text: $black;
$link: $blue-1;
$link-hover: $black;
$primary: $blue-1;
$border: $blue-2;
$error: $red;


$main-size: 16px;
$body-background-color: $white;
$body-size: .875rem;
$body-family: $family-primary;
$body-color: $text;
$body-weight: $weight-normal;
$body-line-height: 1.25rem;
$main-padding: $body-size / 2;
$form-family: $family-secondary;
$header-family: $family-extra;
$button-width: 280px;

$gap: 20px;
$media-size: (
        'mobile': 320px,
        'tablet': 600px,
        'desktop': 1000px,
);
$content-size: 700px;
