/* Only comments */
.btn{
  @extend %control;
  @extend %form_item;

  outline: none;
  background: $white;
  border: 1px solid rgba($border, .2);
  border-radius: 4px;
}

// на случай, если появятся новые кнопки или цвет ссылок начнёт отличаться от кнопки
@include button('primary', $primary)