/* Buttons */
.btn{
  @extend %control;
  @extend %form_item;
  min-width: $button-width;
  background: transparent;

  outline: none;
  text-align: center;
  white-space: nowrap;
  border: 1px solid rgba($border, .2);
  border-radius: 4px;
  padding: $main-padding;
}

// на случай, если появятся новые кнопки или цвет ссылок начнёт отличаться от кнопки
@include button('primary', $primary)