/* Container */
.container{
  width: auto;
  margin: 0 auto;
  padding: 0;
  position: relative;
  //@include mobile{
  //
  //}
  //@include tablet{
  //
  //}
  @include desktop{
    max-width: $content-size;
  }
}