/* Social */

.social{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  // на случай если они перестанут помещаться в строку
  margin: 0 -.5rem $gap;

  li{
    padding: .5rem .5rem 0;
  }
}

@include social('facebook', $facebook, $facebook-size);
@include social('twitter', $twitter, $twitter-size);
@include social('telegram', $telegram, $telegram-size);
@include social('linkedin', $linkedin, $linkedin-size);