/* Accordion */

// не знаю простого способа выровнять тег i по центру в этой ситуации.
$accordion-size: 24px;
$accordion-margin: 14px;
$accordion-padding: 2px; // не увидел в этом отступе закономерности
$accordion-i-width: 16px;

.accordion{
  padding-top: .5rem;

  header,
  p,
  i{
    @extend %transition;
  }

  header{
    max-width: $accordion-width;
    margin: $accordion-margin 0 ($accordion-margin - $accordion-padding);
    color: $black;
  }

  p{
    position: relative;
    overflow: hidden;
    max-width: 520px;
    max-height: 800px;
    transform: translate(0, 0);
    z-index: 2;
  }

  li{
    position: relative;
    overflow: hidden;
    border-top: 1px solid rgba($border, .2);

    i{
      position: absolute;
      display: flex;
      justify-content: center;
      top: ($accordion-size + ($accordion-margin * 2) - $accordion-i-width) / 2;
      right: 0;
      width: $accordion-i-width;

      &:before,
      &:after{
        content: "";
        @extend %transition;
        position: absolute;
        background-color: $black;
        width: 2px;
        height: $accordion-i-width;
      }

      &:before{
        transform: rotate( 45deg )
      }

      &:after{
        transform: rotate( -45deg )
      }
    }

    input[type=checkbox]{
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;

      &:checked{
        &~header{
          color: $link;
        }

        &~p{
          margin: 0;
          // padding нужен для разницы отсупов от заголовка
          // в открытом и закрытом виде
          padding: $accordion-padding/2;
          max-height: 0;
          opacity: 0;
          transform: translate( 0 , 50% );
        }

        &~i{

          &:before,
          &:after{
            background-color: $link;
          }

          &:before{
            transform: rotate( 0deg )
          }

          &:after{
            transform: rotate( -90deg )
          }
        }
      }

      &:hover{
        &~header{
          color: $black;
        }

        &~i{
          &:before,
          &:after{
            background-color: $black;
          }
        }
      }
    }
  }
}