/* Carousel */
$accordion-i-width: 16px;
$items: 4;

.carousel{
  padding-top: 60px;
  position: relative;

  @include desktop{
    padding-top: 80px;
  }

  &__header{
    text-align: center;

    p{
      margin-bottom: 16px;

      @include desktop{
        margin-bottom: 20px;
      }
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
    width: 100%;

    @extend %transition;
    img{
      position: absolute;
      opacity: 0;
      box-shadow: 0 4px 0px 24px rgba($black, .02);
      border-radius: 4px;

      @include desktop{
        border-radius: 8px;
      }
    }
  }

  &__controller:checked + .carousel__item img{
    position: static;
    opacity: 1;
  }

  &__indicators {
    display: flex;
    // отстутп от изоброжения на макете 28px.
    // высота bullet = 8px. Значит отступ от li 4px и того 24px растояния от изображения
    // это 4 пикселя нехватаюшего смещения
    padding: 12px 0;

    @include desktop{
      padding: 4px 0 0;
    }

    li {
      display: inline-block;

    }
  }

  &__bullet {
    cursor: pointer;
    width: $accordion-i-width;
    height: $accordion-i-width;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before{
      content: "";
      background-color: $dark-link;
      @extend %transition;
      border-radius: 50%;
      border: 1px solid $dark-link;
      width: $accordion-i-width/2;
      height: $accordion-i-width/2;
    }

    &:hover {
      &:before{
        background-color: $dark-link-hover;
        border-color: $dark-link-hover;
      }
    }

    &:focus,
    &:active{
      &:before{
        background-color: $dark-link;
        border-color: $dark-link;
        opacity: $opacity;
      }
    }
  }

  &__info{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;

    @include desktop{
      padding-top: $gap;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    p,
    label{
      margin: 0;
    }
  }

  &__text{
    font-family: $family-secondary;
    flex: 1;

    @include desktop{
      max-width: 520px;
    }
  }
}

@for $i from 1 through $items {
  @include slide($i);
}