/* Carousel */
$accordion-i-width: 16px;
$items: 4;

.carousel{
  // можно также реализовать через 3*$gap
  padding-top: 60px;
  position: relative;

  @include desktop{
    // 4*$gap
    padding-top: 80px;
  }

  &__header{
    text-align: center;

    p{
      margin-bottom: 1rem;

      @include desktop{
        margin-bottom: $gap;
      }
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: $border-radius;
    max-height: calc( (100vw - #{$gap*2}) / 1.86666666);

    @include tablet{
      max-height: calc( (100vw - #{$gap*4}) / 1.85714286);
    }

    @include desktop{
      max-height: calc(#{$content-size} / 1.85676393);
      border-radius: 2*$border-radius;
    }

    img{
      position: absolute;
      @extend %transition;
      opacity: 0;
      box-shadow: 0 4px 0px 24px rgba($black, .02);
    }
  }

  &__controller:checked + .carousel__item img{
    position: static;
    opacity: 1;
  }

  &__indicators {
    display: flex;
    padding: 12px 0;

    @include desktop{
      // отстутп от изоброжения на макете 28px.
      // высота bullet = 8px. Значит отступ от li 4px и того 24px растояния от изображения
      // это 4 пикселя нехватаюшего смещения
      padding: 4px 0 0;
    }

    li {
      display: inline-block;

    }
  }

  &__bullet {
    cursor: pointer;
    width: $accordion-i-width;
    height: $accordion-i-width;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before{
      content: "";
      background-color: $dark-link;
      @extend %transition;
      border-radius: 50%;
      border: 1px solid $dark-link;
      width: $accordion-i-width/2;
      height: $accordion-i-width/2;
    }

    &:hover {
      &:before{
        background-color: $dark-link-hover;
        border-color: $dark-link-hover;
      }
    }

    &:focus,
    &:active{
      &:before{
        background-color: $dark-link;
        border-color: $dark-link;
        opacity: $opacity;
      }
    }
  }

  &__info{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;

    @include desktop{
      padding-top: $gap;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    label,
    p{
      margin: 0;
    }
  }

  &__text{
    font-family: $family-secondary;
    flex: 1;

    @include desktop{
      max-width: $text-width;
    }
  }
}

@for $i from 1 through $items {
  @include slide($i);
}