/* Header */

.header{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__image{
    img{
      width: 340px;
      height: 340px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__text{
    padding-top: 36px;
  }

}