/* Sections */
.section{
  padding: 0 $gap/2;

  //@include mobile{
  //  padding-left: $gap;
  //  padding-right: $gap;
  //}
  @include tablet{
    padding: 52px $gap*2;
  }

  @include desktop{
    padding: 100px $gap/2;
    padding-left: $gap;
    padding-right: $gap;
  }
}