/* Sections */
.section{
  padding-top: 100px;
  padding-bottom: 100px;

  @include mobile{
    padding-left: $gap;
    padding-right: $gap;
  }
  @include tablet{
    padding-left: ($gap * 2);
    padding-right: ($gap * 2);
  }

  @include desktop{
    padding-left: $gap;
    padding-right: $gap;
  }
}