/* Sections */
.section{
  padding: 52px $gap/2;

  @include mobile{
    padding-left: $gap;
    padding-right: $gap;
  }
  @include tablet{
    padding-left: $gap*2;
    padding-right: $gap*2;
  }

  @include desktop{
    padding: 100px $gap;
  }
}